.caja{
    width: 120px;
    height: 48px;
    margin-top: 20px;
    margin-left: 20px;
    display: inline-block;
}
.cuadroTexto{
    width: 577px;
    height: 40px;   
    margin-top: 90px;
    margin-left: 200px;
}
.botonCodificador{
    margin-right: 0;
    margin-top: 400px;
    margin-left: 250px;
    width: 200px;
    height: 20;
}

@media screen and (max-width:480px){
    .caja{
        width: auto;
    }
}


